#Sample app config


# DB settings
db_host = localhost
db_port = 5432
db_name = mydatabase
db_password = v

# Server settings

server_port = 8080
server_timeout = 60

# Logging settings
log_level = debug
log_file = /var/log/vprofile-project.log
